
.main-page {
  padding: 0 8rem;
  font-family: "Bebas", Arial, Helvetica, sans-serif !important;
}
.header {
  display: flex;
  align-content: center;
  justify-content: space-between;
  margin-bottom: 7.2rem;
  .logo-container {
    width: 11.25rem;
    height: 5rem;
    background-color: black;
    color: white;
    text-decoration: underline;
    text-align: center;
    p {
      padding-top: 1.25rem;
      font-size: 2.3rem;
    }
  }
  .nav-bar {
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding-top: 2rem;

    p {
      margin-left: 2rem;
      padding: .5rem;
      font-size: 1.6rem;
      border: solid 0.125rem #FFDCA8;
      transition: all 0.5s linear;

      &:hover {
        cursor: cell;
        border: solid 0.125rem black;
      }
    }
  }
}

.hero {
  margin-bottom: 4.5rem;
  .row {
    margin-bottom: 3.4rem;
  }
  .hero-title {
    font-size: 5.25rem;
  }
  .call-to-action {
    width: 35.6rem;
    display: flex;
    align-content: center;

    .contact-btn {
      width: 13.75rem;
      height: 3.75rem;
      margin: 0 0.7rem;
      border: solid .35rem black;
      background-color: #7D44F4;
      text-align: center;
      box-shadow: 0.5rem 0.5rem black;
      transform: rotate(-5deg);
      transition: all 0.7s linear;
      border-radius: 0.3rem;

      p {
        font-size: 2rem;
        color: black;
        transform: rotate(5deg);
      }

      &:hover {
        background-color: #F444CE;
        p {display: none}
        &:before {
          content: "YEEY";
          font-size: 2rem;
          color: white;
        }
      }
    }
  }
}

